.App {
  font-family: sans-serif;
  text-align: center;
}
.key {
  margin: 1rem;
  text-align: center;
}

.span-items:nth-child(1) {
  font-weight: bold;
}

.span-items:nth-child(2) {
  background-color: #8883d8;
  color: white;
  padding: 0.3rem;
  font-weight: bold;
  margin: 0.5rem;
  border-radius: 0.2rem;
}
.btn {
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: grey;
  border-radius: 0.3rem;
  border: none;
  border: 1px solid grey;
  cursor: pointer;
}

.btn-charts {
  margin: 1rem;
  padding: 0.5rem 1rem;
  color: black;
  background-color: transparent;
  border-radius: 0.3rem;
  border: none;
  border: 1px solid grey;
  cursor: pointer;
}

.btn-charts:hover {
  color: white;
  background-color: grey;
}

.btn:hover {
  color: grey;
  background-color: white;
}

.modal {
  background-color: white;
  border: 1px solid #ccc;
  width: 90%;
  padding: 20px;
}
